body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #1B1B1B;
}
.message{
  color: #fff;
}
h2{
  padding: 0;
  margin: 0;
}
.board-container{
  width: 60%;
  margin: 50px auto;
  text-align: left;
}
.memoryCard{
  height: 80px;
  width: 120px;
  border: 1.5px solid transparent;
  transition: all .3s ease-in;
}
.memoryCard.front:hover{
  cursor: pointer;
  border: 1.5px solid rgb(40,111,251, 0.5);
}
.btn {
  padding: 12px 25px;
  background: #035A96;
  border: 1px solid #035A96;
  color: #fff;
  transition: all .4s ease-in;
}
.btn:hover{
  background: rgb(40,111,251, 0.5);
  border: 1px solid rgb(40,111,251, 0.5);
  cursor: pointer;
  transform: scale(1.1);
}
.flex-container {
  display: flex;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  flex: 1 0 calc(21% - 1em);
  padding: 6px 0 6px 0;
}
.menu{
  margin: 0 auto;
  text-align: center;
}

@media only screen and(max-width: 768px){
  .board-container{
    width: 100%;
    margin: 50px auto;
  }
  .flex-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  .memoryCard{
    height: 50px;
    width: 80px;
  }
}